<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hackacce.WyzAntAndroid"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="20"
        />

    <application android:label="@string/app_name"
                 android:icon="@drawable/wyzant"
                 android:logo="@drawable/wyzant"

                 android:allowBackup="true"
                 android:theme="@android:style/Theme.Light">

        <activity android:name="MainActivity"
                  android:logo="@drawable/wyzant"
                  android:label="@string/label_title"
                  android:configChanges="orientation|screenSize">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

    </application>
</manifest>
